.App {
  text-align: center;
  background-color: #bbb;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  background-color: #bbb !important
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.Character {
  white-space: pre;
}

.Character-current {
  background-color: #09d3ac;
}

.Character-out {
  color: silver;
}